.full-body {
    background-color: black;
    color: white;
}

/* HEADER AND TOP BODY PART */
.brand {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    /* justify-content: center; */
    align-items: center;
    justify-items: center;
    color: black;
}
.head-nav {
    position: fixed;
    min-width: 100%;
    z-index: 1000;
}
.intro-section {
    margin: 100px;
}

#navbarNav {
    justify-content: right;
    /* background-color: black; */
}
.image-div {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 100px;
}

.parent-intro-div {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 70px;
}
.paragraph-intro-div {
    width: 50%;
}
.paragraph-parent-intro-div {
    display: flex;
    justify-content: center;
}
.resume-button-div {
    display: flex;
    justify-content: center;
    
}
.resume-button {
    border-radius: 50px;
    width: 30%;
}


/* PROJECT GRID AREA */

.project-div-section {
    margin-top: 90px; 
}
.select-button-div {
    border-radius: 50px;    
}
.select-project-button {
    border-radius: 50px;
    font-size: 16px;
    margin-left: 20px;
}
.project-grid {
    margin: 10px ;
}
/* PROJECT CARD I */
.project-card {
    background-color: white;
    border-radius: 20px;
}

.project-sub-div {
    background-color: #95AACF;
    border-radius: 20px;
    height: 140px;
    margin: 10px ;
}

.project-card-body {
    margin-top: 20px;
    color: black;
    color: black;
}
.project-button-seemore {
    border-radius: 40px;
    margin-top: 40px;
    background-color: #95AACF;
}

/* PROJECT CARD 2 */
.project-sub-div2 {
    background-color: #0CCB76;
    border-radius: 20px;
    height: 140px;
    margin: 10px 

}
.project-card-body2 {
    margin-top: 20px;
    color: black;
    color: black;
}
.project-button-seemore2 {
    border-radius: 40px;
    margin-top: 40px;
    background-color: #0CCB76;
}

/* PROJECT CARD 3 */

.project-sub-div3 {
    background: #25E6AC;
    border-radius: 20px;
    height: 140px;
    margin: 10px 

}
.project-card-body3 {
    margin-top: 20px;
    color: black;
    color: black;
}
.project-button-seemore3 {
    border-radius: 40px;
    margin-top: 40px;
    background: #25E6AC;
}

/* PROJECT CARD 4 */

.project-sub-div4 {
    background: #800080;

    border-radius: 20px;
    height: 140px;
    margin: 10px 

}
.project-card-body4 {
    margin-top: 20px;
    color: black;
    color: black;
}
.project-button-seemore4 {
    border-radius: 40px;
    margin-top: 40px;
    background: #800080;
    color: white;
    /* padding-left: 3px;
    padding-right: 3px; */
}


/* ABOUT ME SECTION */

.about-me-first-div {
    display: flex;
    background-color: #0E0E0F;
    box-shadow: 5px solid white;
    border-radius: 5px;
}
.about-me-section-div {
    margin: 19px;
    border-radius: 40px;
}
.about-me-section-button {
    background: #0E0E0F;
    color: white;
    width: 7%;
    border-radius: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
}
.about-me-section-for-text {
    background-color: #0E0E0F;
    box-shadow: 5px solid white;
    border-radius: 5px;
    max-width: 33.33%;
    
}
.sub-about-me-section-for-text {
    margin-top: 0px;
    margin-left: 10px;
    margin-right: 10px;
    /* max-width: 40%; */
}
.about-me-section-h2 {
    margin-top: 0px;
}
.about-me-section-read-more-button {
    border-radius: 9px;
    margin-top: 30px;
    margin-bottom: 15px;
    background: #2186E3;
    color: white;
}

.about-me-section-for-myimage {
    margin-left: 10px;
    height: 60vh;
    top: 12px;
    left: 390px;  
    max-width: 34%;  
}
.about-me-section-for-myimage img {
    max-width: 8~0%;
}
.about-me-section-for-tools {
    display: flex;
    min-width: 20%;
}
.about-me-section-for-tools img {
    max-width: 100px;
}

